<header class="relative overflow-hidden">

	<div class="w-full bg-noir-400 flex justify-between items-center px-2">
		<a class="p-2 inline-flex items-center text-sm hover:text-highlight" href="https://www.messivsronaldo.app/">
			{{fn('icon','angle-left','mr-1')}}
			<span>Main Site</span>
		</a>
		<div class="p-2">
			<a class="hover:text-highlight" href="https://twitter.com/mvsrapp">{{fn('icon','twitter','text-lg')}}</a>
		</div>
	</div>

	<div class="hero mx-auto w-full flex relative mt-10 md:mt-10 lg:mt-16 mb-12 sm:mb-16 xl:mb-20" role="banner">
		<picture class="hero__messi absolute bottom-0 left-0">
			<source srcset="{{theme.link}}/_resources/images/messi.png" media="(min-width: 1024px)">
			<source srcset="{{theme.link}}/_resources/images/messi-sm.png" media="(min-width: 600px)">
			<img src="{{theme.link}}/_resources/images/messi-xs.png" alt="">
		</picture>
			
		<picture class="hero__ronaldo absolute bottom-0 right-0">
			<source srcset="{{theme.link}}/_resources/images/ronaldo.png" media="(min-width: 1024px)">
			<source srcset="{{theme.link}}/_resources/images/ronaldo.png" media="(min-width: 600px)">
			<img src="{{theme.link}}/_resources/images/ronaldo-xs.png" alt="">
		</picture>
		
		<a aria-current="page" class="logo inline-block mx-auto font-black text-3xl leading-none uppercase" href="/">
			<span class="logo__messi-vs block relative z-10">Messi Vs </span>
			<span class="logo__ronaldo block relative z-10">Ronaldo</span>
			<span class="logo__app block relative z-10 font-semibold mt-1 normal-case text-right opacity-25">.app</span>
		</a>
	</div>

</header>
