<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <title>{{ site.title }}</title> #}

		{% block htmlheader %}
			<style>
				{{source("/dist/main.min.css")}}</style>
		{% endblock %}

		{{ options.google_analytics ? options.google_analytics }}

		{{ options.schema ? options.schema }}

		{{ options.meta_tags ? options.meta_tags }}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preload"
        as="style"
        href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700;800;900&display=swap" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700;800;900&display=swap"
        media="print" onload="this.media='all'" />

		{{ function('wp_head') }}
</head>

<body class="{{body_class}}">

    {{ fn('wp_body_open') }}

    <div class="wrapper">

        {% include "_components/mobile-top-bar.twig" %}

