<div class="flex p-2 lg:p-6 mb-8 w-1/2 md:w-1/3">

	<div class="bg-noir-300">
		
		{{ fn('timber_set_product', post) }}

		<div class="">
			<a href="{{ post.link }}">
				<img src="{{post.thumbnail.src('full')|resize(600,600)}}" alt="">
			</a>

			<div class="p-8">
				{% if post.title %}
					<h3 class="font-medium text-xl/snug">
						<a href="{{ post.link }}">{{ post.title }}</a>
					</h3>
				{% endif %}

				{% do action( 'woocommerce_after_shop_loop_item_title' ) %}
				{% do action( 'woocommerce_after_shop_loop_item' ) %}
			</div>
		</div>

	</div>
	
</div>
